---
import {FiArrowLeft} from "react-icons/fi";
import ProjectCards from "../components/ProjectCards.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="dzarsky.eu - Projects">
  <main>
    <h1>Featured <span class="text-gradient">projects</span></h1>
    <a href="/" class="link-wrapper"><FiArrowLeft /> Go back</a>
    <ProjectCards />
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: calc(100% - 8rem);
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }

    .link-wrapper {
      display: flex;
      max-width: fit-content;
      place-items: center;
      padding-left: 0.5rem;
      margin-bottom: 1rem;
    }

    .link-wrapper > svg {
      margin-right: 0.25rem;
    }
  </style>
</Layout>
